@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  font-family: 'Roboto', 'Courier New', Courier, monospace sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.line {
  background: #C8A35F;
  height: 6px;
  width: 90px;
}

.header {
  color: #FFFFFF;
}

.header__contacts {
  padding-top: 16px;
  background: #C8A35F;
  height: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.header__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.header__item {
  padding-right: 10px;
}

.header__link {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition-duration: 0.1ms;
          transition-duration: 0.1ms;
}

.header__link:hover {
  color: #ffffffad;
  cursor: pointer;
}

.header__number {
  text-align: center;
}

.header__mail {
  text-align: right;
}

.header__logo {
  background: #2F343A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 5px;
}

.header__sublogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .header__sublogo {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__sublogo img {
  width: 160px;
  margin-right: 33px;
}

@media (max-width: 992px) {
  .header__sublogo img {
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .header__sublogo img {
    width: 120px;
  }
}

.header__line {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: block;
  border: 1px solid #FFFFFF;
  height: 46px;
}

@media (max-width: 992px) {
  .header__line {
    display: none;
  }
}

.header__place {
  display: inline-block;
  margin-left: 42px;
  color: #C8A35F;
}

@media (max-width: 992px) {
  .header__place {
    margin-left: 20px;
  }
}

.header__submenu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__submenu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

@media (max-width: 992px) {
  .header__submenu {
    display: none;
  }
}

.header__subitem {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .header__subitem {
    font-size: 12px;
    line-height: 14px;
  }
}

.header__subitem:not(:last-child) {
  padding-right: 30px;
}

@media (max-width: 992px) {
  .header__subitem:not(:last-child) {
    padding-right: 15px;
  }
}

.active {
  color: #FFFFFF;
  opacity: 1;
}

.no-active {
  opacity: 0.5;
}

.main {
  background: url(/img/main/bg.jpg) center no-repeat;
  background-size: cover;
  height: 620px;
  padding-top: 155px;
}

.main__header {
  text-align: center;
  margin: 0 auto;
  height: 245px;
  max-width: 920px;
  border: 1px solid #C8A35F;
  padding-top: 45px;
}

@media (max-width: 992px) {
  .main__header {
    max-width: 700px;
  }
}

@media (max-width: 576px) {
  .main__header {
    max-width: 100%;
    margin: 0px 10px;
  }
}

.main__header h1 {
  margin: 0;
  color: #FFFFFF;
  font-size: 64px;
  line-height: 75px;
}

@media (max-width: 576px) {
  .main__header h1 {
    font-size: 30px;
  }
}

.main__header p {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 28px;
  padding-top: 45px;
}

@media (max-width: 992px) {
  .main__header p {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .main__header p {
    font-size: 12px;
  }
}

.main img {
  padding-top: 140px;
  display: block;
  margin: 0 auto;
}

.features {
  background: #2c2b2b;
}

.features__background {
  position: absolute;
  background: #2F343A;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 350px;
  height: 575px;
}

@media (max-width: 576px) {
  .features__background {
    height: 450px;
  }
}

.features__slider {
  padding-top: 120px;
}

@media (max-width: 992px) {
  .features__slider {
    padding-top: 50px;
  }
}

@media (max-width: 992px) {
  .features__slider {
    margin: 0px 20px;
  }
}

.features__header {
  color: #FFFFFF;
  padding-top: 40px;
  margin-bottom: 50px;
}

.features__header h2 {
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .features__header h2 {
    font-size: 30px;
  }
}

.features__header span {
  display: block;
  padding-top: 30px;
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 992px) {
  .features__header span {
    font-size: 13px;
  }
}

.features__button {
  cursor: pointer;
  color: #FFFFFF;
  max-width: 220px;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  padding: 18px 48px 18px 48px;
  background: #C8A35F;
}

@media (max-width: 576px) {
  .features__button {
    margin: 0 auto;
  }
}

.features__img {
  width: 120px;
  height: 100px;
  text-align: center;
}

@media (max-width: 576px) {
  .features__img {
    display: none;
  }
}

.services {
  background: #2F343A;
  padding-top: 120px;
}

@media (max-width: 576px) {
  .services {
    padding-top: 40px;
  }
}

@media (max-width: 576px) {
  .services__line {
    display: none;
  }
}

.services__header {
  margin-top: 40px;
  margin-bottom: 60px;
  color: #FFFFFF;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .services__header {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__button {
  width: 324px;
  height: 180px;
  background: #2c2b2b;
  color: #FFFFFF;
  border: 1px solid #2F343A;
}

@media (max-width: 576px) {
  .services__button {
    width: 150px;
    height: 90px;
  }
}

.services__button p {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 43px;
}

@media (max-width: 576px) {
  .services__button p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
  }
}

.services .icon__bacground {
  background: #FFFFFF;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .services .icon__bacground {
    width: 30px;
    height: 30px;
  }
}

.services .icon__wrapper {
  position: relative;
  -webkit-transform: translateY(26px);
          transform: translateY(26px);
}

@media (max-width: 576px) {
  .services .icon__wrapper {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.active__button {
  background: #C8A35F;
  color: #000;
  margin: 0;
}

.active__button p {
  margin-top: 10px;
}

.aboutus {
  padding-bottom: 120px;
  padding-top: 120px;
  background: #2F343A;
}

.aboutus__background {
  position: absolute;
  background: #2c2b2b;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(320px + (410 - 320) * ((100vw - 320px) / (1200 - 320)));
  height: 440px;
}

@media (max-width: 1200px) {
  .aboutus__background {
    left: 54%;
  }
}

@media (max-width: 992px) {
  .aboutus__background {
    display: none;
  }
}

.aboutus__line {
  display: none;
}

.aboutus__border {
  width: auto;
  margin: 0px 20xp;
}

@media (max-width: 992px) {
  .aboutus__border {
    border: 1px solid #C8A35F;
  }
}

.aboutus__wrapper {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: calc(140px + (160 - 140) * ((100vw - 320px) / (1200 - 320)));
}

@media (max-width: 992px) {
  .aboutus__wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 576px) {
  .aboutus__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.aboutus__header {
  z-index: 50;
  padding-top: 40px;
}

.aboutus__header h2 {
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .aboutus__header h2 {
    text-align: center;
  }
}

.aboutus__header p {
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  padding-top: 30px;
}

@media (max-width: 992px) {
  .aboutus__header p {
    text-align: center;
  }
}

.aboutus__button {
  z-index: 50;
  width: calc(60px + (140 - 59) * ((100vw - 320px) / (1200 - 320)));
  height: calc(140px + (160 - 140) * ((100vw - 320px) / (1200 - 320)));
  border: 1px solid #C8A35F;
}

@media (max-width: 992px) {
  .aboutus__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 576px) {
  .aboutus__button {
    width: calc(60px + (100 - 59) * ((100vw - 320px) / (1200 - 320)));
  }
}

.aboutus__button h4 {
  font-size: calc(45px + (50 - 45) * ((100vw - 320px) / (1200 - 320)));
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@media (max-width: 576px) {
  .aboutus__button h4 {
    font-size: 30px;
  }
}

.aboutus__button p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
}

@media (max-width: 576px) {
  .aboutus__button p {
    font-size: 14px;
  }
}

.aboutus__button span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

@media (max-width: 576px) {
  .aboutus__button span {
    font-size: 10px;
  }
}

.button__background-1 {
  background: url(/img/aboutus/bg.jpg) center no-repeat;
  background-size: cover;
}

.button__background-2 {
  background: url(/img/aboutus/bg.jpg) center no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  .button__background-2 {
    display: none;
  }
}

.place {
  background: url(/img/place/maps.jpg) center no-repeat;
  background-size: cover;
  height: 450px;
}

.footer {
  padding: 20px 0px;
  background: #C8A35F;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .footer__logo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .footer__sublogo {
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .footer__adress {
    padding: 20px;
    margin: 0 auto;
  }
}

.footer__contacts {
  color: #FFFFFF;
}

.footer__contacts p {
  margin: 0;
}

.footer__contacts p:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .footer__contacts {
    display: none;
  }
}

.footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .footer__author {
    padding: 10px 0px 10px 30px;
  }
}

.footer__author p {
  margin: 0;
  border-bottom: 1px solid #000;
}

.link {
  margin-left: 40px;
}

.link__adress {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.link__mail {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
}
