
@import "_header";
@import "_colors";



// подключаем шрифты

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



.body {
  font-family:'Roboto', 'Courier New', Courier, monospace sans-serif;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}



.line {
         background: $color-active;
         height: 6px;
         width: 90px;
}

.header {
      color:#FFFFFF;
		&__contacts {
         padding-top: 16px;
         background: $color-active;
         height: 45px;
         font-family: Roboto;
         font-style: normal;
         font-weight: normal;
         font-size: 12px;
         line-height: 14px;
		}

		&__menu {
         list-style: none;
         display: flex;
         padding: 0;
         
		}

		&__item {
         padding-right: 10px;
         
         
		}

		&__link {
         text-decoration: none;
         color: $color-text;
         transition-duration: 0.1ms;
         
		}
      &__link:hover {
            color:#ffffffad;
            cursor: pointer;
         }

		&__number {
         text-align: center;
		}

		&__mail {
         text-align: right;
		}

		&__logo {
         background: $color-bg;
         height: 100px;  
		}

		&__sublogo {
         max-height: 100px;
         img {
            width: 160px;
            margin-right: 33px;
           
         }
		}

		&__line {
         display: inline-block;
         transform: translateY(50%);
         border: 1px solid $color-text;
         height: 46px;
		}

		&__place {
         display: inline-block;
         margin-left: 42px;
         color: $color-active;
		}

		&__submenu {
         
         list-style: none;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         padding-top: 35px;
         
      }
      &__subitem{
         font-size: 14px;
         line-height: 16px;
         text-transform: uppercase;
      }
      &__subitem:not(:last-child){
         padding-right: 30px;
      }
}
.active {
   color:$color-text;
   opacity: 1;
   
}
.no-active {
   opacity: 0.5;
}
.main {
      background: url(../img/main/bg.jpg) center no-repeat ;
      background-size: cover;
      height: 620px;
      padding-top: 155px;
		&__header {
         text-align: center;
         margin: 0 auto;
         height: 245px;
         max-width: 920px;
         border: 1px solid $color-active;
         padding-top: 45px;
         h1 {
            margin: 0;
            color: $color-text;
            font-size: 64px;
            line-height: 75px;
         }
         p{
            color: $color-text;
            font-size: 18px;
            line-height: 28px;
            padding-top: 45px;
         }
		}
      img {
         padding-top: 140px;
         display: block;
         margin: 0 auto;
      }
}





.features {
      background: #2c2b2b;
      height: 561px;
      &__background{
         position: absolute;
         background: $color-bg;
         left: 50%;
         transform: translateX(-50%);
         width: 350px;
         height: 561px;
      }
		&__slider {
         padding-top: 120px;
		}

		&__block {
         
		}

		&__line { 
		}

		&__header {
         color: $color-text;
         padding-top: 40px;
         margin-bottom: 50px;
         h2 {
            font-size: 40px;
            line-height: 49px;
            text-transform: uppercase;
         }
         span {
            display: block;
            padding-top: 30px;
            font-size: 18px;
            line-height: 28px;
         }
		}

		&__button {
         cursor: pointer;
         color: $color-text;
         max-width: 220px;
         text-align: center;
         font-size: 16px;
         line-height: 25px;
         text-transform: uppercase;
         padding: 18px 48px 18px 48px;
         background:  $color-active;
		}

		&__img {
         width: 120px;
         height: 100px;
         text-align: center;
		}
}



.services {
      background: $color-bg;
      padding-top: 120px;
		&__line {
		}

		&__header {
         margin-top: 40px;
         margin-bottom: 60px;
         color: $color-text;
         font-size: 40px;
         line-height: 49px;
         text-transform: uppercase;
		}

      &__wrapper {
         display: flex;
		}

		&__button {
         width: 324px;
         height: 180px;
         background: #2c2b2b;
         color:$color-text;
         border: 1px solid $color-bg;
         p{
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: $color-text;
            margin-top: 43px;
         }
		}

.icon__bacground{
   background: $color-text;
   width: 70px;
   height: 70px; 
   margin: 0 auto;
   border-radius: 50%;
   
}
.icon__wrapper {
   position: relative;
   transform: translateY(26px);
   
   
}
}
.active__button {  
      background: $color-active;
      color: #000;
      margin: 0;
      p{
         margin-top: 10px;
      }
      
}



.aboutus {
      padding-bottom: 120px;
      padding-top: 120px;
      background: $color-bg;
		&__background {
         position: absolute;
         background: #2c2b2b;
         left: 50%;
         transform: translateX(-50%);
         width: 410px;
         height: 482px;
		}

      &__wrapper{
         padding-top: 80px;
         display: flex;
         flex-wrap: wrap;
      }

		&__line {
		}

		&__header {
         padding-top: 40px;
         h2 {
               font-size: 40px;
               line-height: 49px;
               color: $color-text;
               text-transform: uppercase;
         }
         p {
            font-size: 16px;
            line-height: 23px;
            color: $color-text;
            padding-top: 30px;
         }
		}

		&__button {
         z-index: 50;
         width: 200px;
         height: 160px;
         border: 1px solid $color-active;
         h4 {
            font-size: 64px;
            line-height: 75px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.05em;
         }
         p{
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.05em;
         }
         span {
            display: block;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
         }
		}
}

.button__background {
   background: url(../img/aboutus/bg.JPG) center no-repeat;
   background-size: cover;
}



.place {
   background: url(../img/place/maps.JPG) center no-repeat;
   background-size: cover;
   height: 450px;
}


.footer {
   
   padding: 60px 0px 55px 0px ;
     background: $color-active;
		&__logo {
         display: flex;
         justify-content: space-between;
         align-items: center;

		}

		&__sublogo {
		}

		&__adress {
         margin-left: 15px;
		}

		&__contacts {
         
         color: $color-text;
         p {
            margin: 0;
         }
         p:not(:last-child) {
            margin-bottom: 10px;
         }
         
		}
      &__author {
         display: flex;
         align-items: center;
         
         
         p{
            margin: 0;
            border-bottom: 1px solid #000;
         }
      }
}
.link {

		&__adress {
         font-size: 14px;
         line-height: 16px;
         text-decoration: none;
         color: $color-text;
		}

		&__mail {
         color: #000;
         text-decoration: none;
         font-size: 14px;
         line-height: 16px;
		}
}
