
@import "_header";
@import "_colors";



// подключаем шрифты

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



.body {
  font-family:'Roboto', 'Courier New', Courier, monospace sans-serif;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}



.line {
         background: $color-active;
         height: 6px;
         width: 90px;
}

.header {
      color:#FFFFFF;
		&__contacts {
         padding-top: 16px;
         background: $color-active;
         height: 45px;
         font-family: Roboto;
         font-style: normal;
         font-weight: normal;
         font-size: 12px;
         line-height: 14px;
		}

		&__menu {
         list-style: none;
         display: flex;
         padding: 0;
         
		}

		&__item {
         padding-right: 10px;
         
         
		}

		&__link {
         text-decoration: none;
         color: $color-text;
         transition-duration: 0.1ms;
         
		}
      &__link:hover {
            color:#ffffffad;
            cursor: pointer;
         }

		&__number {
         text-align: center;
         
		}

		&__mail {
         text-align: right;
		}

		&__logo {
         background: $color-bg;
         display: flex;
         align-items: center;
         padding: 15px 5px;
         
		}

		&__sublogo {
         display: flex;
         align-items: center;
         @media  (max-width: 992px) {
            justify-content: space-between;
         }
         img {
            width: 160px;
            margin-right: 33px;
            @media  (max-width: 992px) {
            margin-right: 20px;
         }
         @media  (max-width: 992px) {
            width: 120px;
         }
         }
		}

		&__line {
         justify-content: center;
         text-align: center;
         display: block;
         border: 1px solid $color-text;
         height: 46px;
         @media  (max-width: 992px) {
            display: none;
         }
		}

		&__place {
         display: inline-block;
         margin-left: 42px;
         color: $color-active;
         @media  (max-width: 992px) {
            margin-left: 20px;
         }
         
		}

      &__submenu-wrapper{
         display: flex;
         justify-content: flex-end;
         align-items: center;
      }

		&__submenu {
         list-style: none;
         display: flex;
         margin: 0;
         @media  (max-width: 992px) {
            display: none;
         }
      }
      &__subitem{
         font-size: 14px;
         line-height: 16px;
         text-transform: uppercase;
         @media  (max-width: 992px) {
            font-size: 12px;
            line-height: 14px;
         }
      }
      &__subitem:not(:last-child){
         padding-right: 30px;
         @media  (max-width: 992px) {
            padding-right: 15px;
         }
      }
}
.active {
   color:$color-text;
   opacity: 1;
   
}
.no-active {
   opacity: 0.5;
}
.main {
      background: url(/img/main/bg.jpg) center no-repeat ;
      background-size: cover;
      height: 620px;
      padding-top: 155px;
		&__header {
         text-align: center;
         margin: 0 auto;
         height: 245px;
         max-width: 920px;
         border: 1px solid $color-active;
         padding-top: 45px;
         @media  (max-width: 992px) {
            max-width: 700px;
         }
         @media  (max-width: 576px) {
            max-width: 100%;
            margin: 0px 10px;
         }
         h1 {
            margin: 0;
            color: $color-text;
            font-size: 64px;
            line-height: 75px;
            @media  (max-width: 576px) {
            font-size: 30px;
         }
         }
         p{
            color: $color-text;
            font-size: 18px;
            line-height: 28px;
            padding-top: 45px;
            @media  (max-width: 992px) {
            font-size: 15px;
         }
         @media  (max-width: 576px) {
            font-size: 12px;
         }
         }
		}
      img {
         padding-top: 140px;
         display: block;
         margin: 0 auto;
      }
}





.features {
      background: #2c2b2b;
      &__background{
         position: absolute;
         background: $color-bg;
         left: 50%;
         transform: translateX(-50%);
         width: 350px;
         height: 575px;
         @media (max-width: 576px) {
            height: 450px;
         }
         
      }
		&__slider {
         padding-top: 120px;
         @media (max-width: 992px) {
            padding-top: 50px;
         }
         @media (max-width: 992px) {
            margin: 0px 20px;
         }
		}

		&__block {
         
		}

		&__line { 
		}

		&__header {
         color: $color-text;
         padding-top: 40px;
         margin-bottom: 50px;
         h2 {
            font-size: 40px;
            line-height: 49px;
            text-transform: uppercase;
            @media (max-width: 992px) {
            font-size: 30px;
         }
         }
         span {
            display: block;
            padding-top: 30px;
            font-size: 18px;
            line-height: 28px;
            @media (max-width: 992px) {
            font-size: 13px;
         }
         }
		}

		&__button {
         cursor: pointer;
         color: $color-text;
         max-width: 220px;
         text-align: center;
         font-size: 16px;
         line-height: 25px;
         text-transform: uppercase;
         padding: 18px 48px 18px 48px;
         background:  $color-active;
         @media (max-width: 576px) {
            margin: 0 auto;
         }
		}

		&__img {
         width: 120px;
         height: 100px;
         text-align: center;
         @media (max-width: 576px) {
            display: none;
         }
         
		}
}



.services {
      background: $color-bg;
      padding-top: 120px;
      @media (max-width: 576px) {
            padding-top: 40px;
         }
		&__line {
         @media (max-width: 576px) {
            display: none;
         }
		}

		&__header {
         margin-top: 40px;
         margin-bottom: 60px;
         color: $color-text;
         font-size: 40px;
         line-height: 49px;
         text-transform: uppercase;
         @media (max-width: 576px) {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 20px;
         }
		}

      &__wrapper {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
		}

		&__button {
         width: 324px;
         height: 180px;
         background: #2c2b2b;
         color:$color-text;
         border: 1px solid $color-bg;
         @media (max-width: 576px) {
            width: 150px;
            height: 90px;
         }
         p{
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: $color-text;
            margin-top: 43px;
            @media (max-width: 576px) {
            font-size: 14px;
            line-height: 18px;
            margin-top: 20px;
         }
         }
		}

.icon__bacground{
   background: $color-text;
   width: 70px;
   height: 70px; 
   margin: 0 auto;
   border-radius: 50%;
   @media (max-width: 576px) {
            width: 30px;
            height: 30px;
         }
   
}
.icon__wrapper {
   position: relative;
   transform: translateY(26px);
   @media (max-width: 576px) {
            transform: translateY(50%);
         }
   
   
}
}
.active__button {  
      background: $color-active;
      color: #000;
      margin: 0;
      p{
         margin-top: 10px;
      }
      
}



.aboutus {
      padding-bottom: 120px;
      padding-top: 120px;
      background: $color-bg;
		&__background {
         position: absolute;
         background: #2c2b2b;
         left: 50%;
         transform: translateX(-50%);
         width: calc(320px + (410 - 320) * ((100vw - 320px) / (1200 - 320)));
         height: 440px;
         @media (max-width: 1200px) {
            left: 54%;
         }
         @media (max-width: 992px) {
            display: none;
         }
		}

      &__line {
         display: none;
      }

      &__border{
         width: auto;
         margin: 0px 20xp;
         @media (max-width: 992px) {
            border: 1px solid $color-active;
         }
      }

      &__wrapper{
         padding-top: 80px;
         display: flex;
         flex-wrap: wrap;
         height: calc(140px + (160 - 140) * ((100vw - 320px) / (1200 - 320)));;
         @media (max-width: 992px) {
            flex-wrap: nowrap;
         }
         @media (max-width: 576px) {
            flex-wrap: wrap;
         }
      }

		&__header {
         z-index: 50;
         padding-top: 40px;
         h2 {
               font-size: 40px;
               line-height: 49px;
               color: $color-text;
               text-transform: uppercase;
               @media (max-width: 992px) {
            text-align: center;
         }
         }
         p {
            font-size: 16px;
            line-height: 23px;
            color: $color-text;
            padding-top: 30px;
            @media (max-width: 992px) {
            text-align: center;
         }
         }
		}

		&__button {
         z-index: 50;
         width: calc(60px + (140 - 59) * ((100vw - 320px) / (1200 - 320)));
         height: calc(140px + (160 - 140) * ((100vw - 320px) / (1200 - 320)));;
         border: 1px solid $color-active;
         @media (max-width: 992px) {
            flex: 1 1 auto;
         }
         @media (max-width: 576px) {
            width: calc(60px + (100 - 59) * ((100vw - 320px) / (1200 - 320)));
         }
         h4 {
            font-size: calc(45px + (50 - 45) * ((100vw - 320px) / (1200 - 320)));
            line-height: 75px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            @media (max-width: 576px) {
            font-size: 30px;
         }
         }
         p{
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.05em;
            @media (max-width: 576px) {
               font-size: 14px;
         }
         }
         span {
            display: block;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            @media (max-width: 576px) {
               font-size: 10px;
         }
         }
		}
}

.button__background-1 {
   background: url(/img/aboutus/bg.jpg) center no-repeat;
   background-size: cover;
}
.button__background-2 {
   background: url(/img/aboutus/bg.jpg) center no-repeat;
   background-size: cover;
   @media (max-width: 992px) {
            display: none;
         }

}



.place {
   background: url(/img/place/maps.jpg) center no-repeat;
   background-size: cover;
   height: 450px;
}


.footer {
   
   padding: 20px 0px;
     background: $color-active;
		&__logo {
         display: flex;
         justify-content: space-between;
         align-items: center;
         @media (max-width: 576px) {
            flex-wrap: wrap;
         }
		}
      
      &__sublogo{
         @media (max-width: 576px) {
            margin: 0 auto;
            
         }
         
      }

		&__adress {
         @media (max-width: 576px) {
            padding: 20px; 
            margin: 0 auto;
         }
		}

		&__contacts {
         
         color: $color-text;
         p {
            margin: 0;
         }
         p:not(:last-child) {
            margin-bottom: 10px;
         }
         @media (max-width: 992px) {
            display: none;
         }
         
		}
      &__author {
         display: flex;
         align-items: center;
         @media (max-width: 992px) {
            padding: 10px 0px 10px 30px;
         }
         
         
         p{
            margin: 0;
            border-bottom: 1px solid #000;
         }
      }
}
.link {
      margin-left: 40px;

		&__adress {
         display: block;
         font-size: 14px;
         line-height: 16px;
         text-decoration: none;
         color: $color-text;
		}

		&__mail {
         color: #000;
         text-decoration: none;
         font-size: 14px;
         line-height: 16px;
         		}
}
